* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0E0E18;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    max-height: 100vh;
}

.container-menu {
    height: 400px;
    width: 100%;
    background-image: url('/arquivos/fundo-header.png');
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    max-width: 100%;
    display: block;
    height: 89px;
    padding-top: 12px;
    cursor: pointer;
    padding-left: 84px;
    position: absolute;
    left: 0;
    
}

.login-button {
    background-color: #fff;
    border-radius: 24px;
    color: #000;
    font-size: 24px;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    padding: 12px 24px;
    position: absolute;
    right: 84px;
    top: 32px
}

.login-button:hover {
    background-color: #bbbbc9;
    transition: 0.3s;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    font-weight: lighter;
    font-size: 64px;
    max-width: 500px;
    display: flex;
    align-items: center;
    box-shadow: .6em 0 0 #2a2a4e;
    margin: 10rem 1rem;
    width: 23ch;
    overflow: hidden;
    color: #FFF;
     white-space: nowrap;
    animation: caret .5s step-end infinite alternate,
             type 5s steps(30, end) infinite;
}

@keyframes type {
    10% {
      width: 0;
    }
  
  }
  @keyframes caret { 
    50% { 
      box-shadow: .6em 0 0 transparent;
    }
  }

.content {
    display: grid;
    grid-template-columns: 580px 580px;
    gap: 20px;
    justify-content: space-between;
    place-content: center;
}

.card-1 {
    background-color: transparent; 
    width: 542px;
    height: 549px;
    margin-top: 32px;
    border-radius: 6px;
}

.card-1 .mediacard {
    background-image: url('/arquivos/Group\ 6.png');
    background-size: cover;
    background-position: center;
    width: 580px;
    height: 360px;
    border-radius: 6px;
    cursor: pointer;
}

.card-1:hover {
    transform: scale(1.05);
    transition: .6s;
}

.card-2 {
    background-color: transparent; 
    width: 542px;
    height: 549px;
    margin-top: 32px;
    border-radius: 6px;
}

.card-2 .mediacard {
    background-image: url('/arquivos/Group\ 6.png');
    background-size: cover;
    background-position: center;
    width: 580px;
    height: 360px;
    border-radius: 6px;
    cursor: pointer;
}

.card-2:hover {
    transform: scale(1.05);
    transition: .6s;
}

.card-3 {
    background-color: transparent; 
    width: 542px;
    height: 549px;
    margin-top: 32px;
    border-radius: 6px;
}

.card-3 .mediacard {
    background-image: url('/arquivos/Group\ 6.png');
    background-size: cover;
    background-position: center;
    width: 580px;
    height: 360px;
    border-radius: 6px;
    cursor: pointer;
}

.card-3:hover {
    transform: scale(1.05);
    transition: .6s;
}

.card-4 {
    background-color: transparent; 
    width: 542px;
    height: 549px;
    margin-top: 32px;
    border-radius: 6px;
}

.card-4 .mediacard {
    background-image: url('/arquivos/Group\ 6.png');
    background-size: cover;
    background-position: center;
    width: 580px;
    height: 360px;
    border-radius: 6px;
    cursor: pointer;
}

.card-4:hover {
    transform: scale(1.05);
    transition: .6s;
}

.subtitulo {
    color: #E8E8F2;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    padding-top: 16px;
    padding-left: 0px;
}

.vermais {
    color: #AE9510;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 2px solid #AE9510;
    cursor: pointer;
    display: inline-flex;
    padding-top: 8px;
}

footer {
    background-color: #2a2a4e;
    padding: 40px;
}

.redessociais a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.redessociais a:hover{
    color: #0E0E18;
    transition: 0.3s;
}


@media (max-width: 1400px) {
    h1{
        font-size: 54px;
        max-width: 425px;
    }

    .content {
        display: grid;
        grid-template-columns: 540px 540px;
        justify-content: space-between;
        place-content: center;
    }

    .card-1 {
        width: 540px;
        height: 529px;
    }
    
    .card-1 .mediacard {
        width: 540px;
        height: 320px;
    }

    .card-2 {
        width: 540px;
        height: 529px;
    }
    
    .card-2 .mediacard {
        width: 540px;
        height: 320px;
    }

    .card-3 {
        width: 540px;
        height: 529px;
    }
    
    .card-3 .mediacard {
        width: 540px;
        height: 320px;
    }

    .card-4 {
        width: 540px;
        height: 529px;
    }
    
    .card-4 .mediacard {
        width: 540px;
        height: 320px;
    }
    
    .logo {
        height: 69px;
        margin-left: 40px;
        margin-top: 12px;
    }
    
    .login-button {
        font-size: 18px;
        margin-right: 40px;
    }

    h1 {
        font-size: 54px;
        max-width: 425px;
        display: flex;
        align-items: center;
        box-shadow: .4em 0 0 #2a2a4e;
     
    }

    .container-menu {
        height: 300px;
        display: flex;
        align-content: center;
    
    }

    .subtitulo {
        font-size: 20px;
    }
    
    .vermais {
        font-size: 16px;
    }


}